In [15]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle


import pandas as pd
import numpy as np

In [19]:

# Load model
model = load_model('model.h5')

# Load one-hot encoder
with open('onehotEncoder_geography.pkl', 'rb') as file:
    label_onehotEncoder = pickle.load(file)

# Load scaler
with open('scale_data.pickle', 'rb') as file:
    scaler = pickle.load(file)
    
# label encoder 
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)

In [25]:
raw_input = {
    "CreditScore": 650,
    "Geography": "France",
    "Gender": "Male",
    "Age": 40,
    "Tenure": 5,
    "Balance": 60000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 50000
}
input_df = pd.DataFrame([raw_input])

In [26]:
geo_encoded = label_onehotEncoder.transform(input_df[['Geography']])
geo_df = pd.DataFrame(
    geo_encoded,
    columns=label_onehotEncoder.get_feature_names_out(['Geography'])
)

input_df = pd.concat([input_df.drop('Geography', axis=1), geo_df], axis=1)

# 3. Encode Gender (same encoder used in training)
input_df['Gender'] = label_encoder.transform(input_df['Gender'])

In [27]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,650,1,40,5,60000,2,1,1,50000,1.0,0.0,0.0

In [28]:
X_scaled = scaler.transform(input_df)

In [29]:
prediction = model.predict(X_scaled)

print("Churn probability:", prediction[0][0])
print("Churn?" , "Yes" if prediction[0][0] > 0.5 else "No")

1/1 [==============================] - 0s 164ms/step
Churn probability: 0.03208257
Churn? No